# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/storage/debugbar
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/.env
.env.*.local
.phpunit.result.cache
.phpunit.cache

# IDE & Tools
/.idea
/.vscode
/.fleet
.DS_Store
*.swp
*.swo

# Development
Homestead.yaml
Homestead.json
deploy.php
deploy/

# Logs
*.log
npm-debug.log*
yarn-error.log
storage/logs/*.log

# Composer/npm files
auth.json